{% extends 'base.html' %}

{% block content %}

<h1>Movie List</h1>

{% for movie in movies %}

<div class="card">

<a href="{% url 'detail' movie.id %}">
    <div class="card-content row">
        <div class="col m9">
            <span class="card-title"> <b>{{movie.title}}</b> </span>
            <p>Rating: {{movie.rating}}</p>
            <p>Description: {{movie.description}}</p>
            <p>Year: {{movie.year}}</p>
            
        </div>
    

        <div class="col m2">
            <img class="img" src="{{movie.image}}"  alt="moviepic" style="height : 190px">
        </div>
    </a>
    </div>
</div>



{% endfor %}

{% endblock %}